/*--------------------FONT--------------------*/

h1, h3, div{
    font-family: 'Merriweather', serif;
}

h2, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}