footer {
  background-color: #828a95;
}

footer p {
  color: #3a3939;
}

@media only screen and (min-width: 426px) {
  footer p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1023px) {
  .footer__color-tw:hover {
    -webkit-box-shadow: 0 0 30px #30e5fd;
            box-shadow: 0 0 30px #30e5fd;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
  .footer__color-i:hover {
    -webkit-box-shadow: 0 0 30px #fd1cf2;
            box-shadow: 0 0 30px #fd1cf2;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
  .footer__color-fb:hover {
    -webkit-box-shadow: 0 0 30px #1609c9;
            box-shadow: 0 0 30px #1609c9;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
}

h1, h3, div {
  font-family: 'Merriweather', serif;
}

h2, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 426px) {
  div, p {
    font-size: 1.7rem;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#redirect_form p {
  font-size: 1.1rem;
}

@media only screen and (max-width: 426px) {
  .videos__size {
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  .videos__size {
    width: 100%;
    height: 430px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2561px) {
  .videos__size {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 426px) {
  * {
    padding: 0rem;
    margin: 0rem;
  }
  /*------------------------------MOBILE------------------------------*/
  /*--------------------INDEX--------------------*/
  /*---------------MAIN---------------*/
  main {
    background-color: #ccd7e4;
  }
  .navbar-desktop {
    display: none;
  }
  .index__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .index__main h1 {
    font-size: 3.57143rem;
  }
  .index__main h2 {
    font-size: 1.78571rem;
  }
  /*---------------SECTIONS---------------*/
  .phrase {
    background-color: #CEEAF7;
  }
  .index__videos {
    background-color: #D5C9DF;
  }
  .index__videos-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*--------------------FOOD&DIET--------------------*/
  /*---------------MAIN---------------*/
  .food__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .food__main h1 {
    font-size: 3.125rem;
  }
  .food__main h2 {
    font-size: 1.92308rem;
  }
  /*---------------SECTIONS---------------*/
  .food__recipes {
    background-color: #DCB8CB;
  }
  .food__recipes card {
    width: 24rem;
  }
  .modal__color {
    background-color: #828a95;
  }
  /*---------------CARROUSEL---------------*/
  .food__carousel {
    background-color: #CEEAF7;
  }
  /*--------------------EXERCISE--------------------*/
  /*---------------MAIN---------------*/
  .exercise__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .exercise__main h1 {
    font-size: 3.57143rem;
  }
  .exercise__main h2 {
    font-size: 1.92308rem;
  }
  /*---------------SECTIONS---------------*/
  .exercise__pilates {
    background-color: #D5C9DF;
  }
  .exercise__yoga {
    background-color: #CEEAF7;
  }
  .exericse__yoga-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .exericse__yoga-flex div {
    width: 100%;
  }
  /*--------------------MEDICATION--------------------*/
  /*---------------MAIN---------------*/
  .medication__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .medication__main h1 {
    font-size: 4.16667rem;
  }
  .medication__main h2 {
    font-size: 2.08333rem;
  }
  /*---------------SECTIONS---------------*/
  .medication__treat {
    background-color: #CEEAF7;
  }
  .medication__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .medication__selfcare {
    background-image: url(/img/selfcarebg.jpg);
  }
  .medication__selfcare h3 {
    color: #d6d3d3;
  }
  .medication__selfcare div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-weight: bold;
  }
  .medication__selfcare p {
    color: #d6d3d3;
  }
  /*--------------------ABOUT--------------------*/
  /*---------------MAIN---------------*/
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .about__main h1 {
    font-size: 5rem;
  }
  .about__main h2 {
    font-size: 2.5rem;
  }
  /*---------------SECTION---------------*/
  .about__description {
    background-image: url(/img/about__banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__description-div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .about__description-div p {
    color: black;
    padding: 0.5rem;
  }
  /*---------------FORM---------------*/
  .form__color {
    background-color: #D5C9DF;
  }
  .form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__flex img {
    display: none;
  }
}

/*------------------------------TABLET------------------------------*/
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  /*--------------------INDEX--------------------*/
  /*---------------MAIN---------------*/
  main {
    background-color: #ccd7e4;
  }
  .navbar-desktop {
    display: none;
  }
  .index__main {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .index__main h1 {
    font-size: 6rem;
  }
  .index__main h2 {
    font-size: 3.15789rem;
  }
  /*---------------SECTIONS---------------*/
  .phrase {
    background-color: #CEEAF7;
  }
  .index__videos {
    background-color: #D5C9DF;
  }
  .index__videos-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*--------------------FOOD&DIET--------------------*/
  /*---------------MAIN---------------*/
  .food__main {
    padding: 1rem;
    overflow: hidden;
  }
  .food__main h1 {
    font-size: 6rem;
  }
  .food__main h2 {
    font-size: 3rem;
  }
  /*---------------SECTIONS---------------*/
  .food__description {
    padding: 1rem;
  }
  .food__recipes-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .food__recipes {
    background-color: #DCB8CB;
  }
  .food__recipes div, .food__recipes p {
    font-size: 1.13333rem;
  }
  .modal__color {
    background-color: #828a95;
  }
  #modalFirstRecipe div, #modalFirstRecipe p {
    font-size: 1.13333rem;
  }
  #modalSecondRecipe div, #modalSecondRecipe p {
    font-size: 1.13333rem;
  }
  /*---------------CAROUSEL---------------*/
  .food__carousel {
    background-color: #CEEAF7;
  }
  .food__carousel p {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  /*--------------------EXERCISE--------------------*/
  /*---------------MAIN---------------*/
  .exercise__main {
    padding: 1rem;
    overflow: hidden;
  }
  .exercise__main h1 {
    font-size: 4rem;
  }
  .exercise__main h2 {
    font-size: 4rem;
  }
  /*---------------SECTIONS---------------*/
  h3 {
    font-size: 3.33333rem;
  }
  .exercise__pilates {
    background-color: #D5C9DF;
  }
  .exercise__yoga {
    background-color: #CEEAF7;
  }
  .exercise__yoga-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .exercise__yoga-flex div {
    padding: 0.5rem;
    width: 100%;
  }
  /*--------------------MEDICATION--------------------*/
  /*---------------MAIN---------------*/
  .medication__main {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .medication__main h1 {
    font-size: 6rem;
  }
  .medication__main h2 {
    font-size: 4rem;
  }
  /*---------------SECTIONS---------------*/
  .medication__treat {
    background-color: #CEEAF7;
  }
  .medication__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .medication__flex img {
    width: 50%;
    padding: 0.3rem;
  }
  .medication__selfcare {
    background-image: url(/img/selfcarebg.jpg);
  }
  .medication__selfcare h3 {
    color: #d6d3d3;
  }
  .medication__selfcare div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-weight: bold;
  }
  .medication__selfcare p {
    color: #d6d3d3;
  }
  /*--------------------ABOUT--------------------*/
  /*---------------MAIN---------------*/
  .about__main {
    padding: 1rem;
    overflow: hidden;
  }
  .about__main h1 {
    font-size: 6rem;
  }
  .about__main h2 {
    font-size: 3rem;
  }
  /*---------------SECTION---------------*/
  .about__description {
    background-image: url(/img/about__banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__description-div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .about__description-div p {
    color: black;
    padding: 0.5rem;
  }
  /*---------------FORM---------------*/
  .form__color {
    background-color: #D5C9DF;
  }
  .form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__flex img {
    display: none;
  }
}

/*------------------------------DESKTOP------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 2561px) {
  /*--------------------INDEX--------------------*/
  /*---------------MAIN---------------*/
  main {
    background-color: #ccd7e4;
  }
  .navbar-desktop {
    text-align: right;
    list-style: none;
    background-color: white;
    padding-top: 21.2rem;
    font-size: 1.5rem;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-desktop__options li {
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
  }
  .navbar-desktop__options a {
    text-decoration: none;
    color: black;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 1rem;
  }
  .navbar-mobile {
    display: none;
  }
  .index__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    overflow: hidden;
  }
  .index__main h1 {
    font-size: 5rem;
  }
  .index__main h2 {
    font-size: 3.8rem;
  }
  /*---------------SECTIONS---------------*/
  .phrase {
    background-color: #CEEAF7;
  }
  .phrase h3 {
    font-size: 2rem;
  }
  .phrase:hover {
    -webkit-box-shadow: 0 0 60px #2ee2fa;
            box-shadow: 0 0 60px #2ee2fa;
    -webkit-transition: 1.2s;
    transition: 1.2s;
  }
  .index__videos {
    background-color: #D5C9DF;
  }
  .index__videos-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .index__videos-flex div {
    padding: 0.5rem;
    width: 100%;
  }
  .index__videos-flex iframe:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 30px #d44d4d;
            box-shadow: 0 0 30px #d44d4d;
    -webkit-transition: 1s;
    transition: 1s;
  }
  /*--------------------FOOD&DIET--------------------*/
  /*---------------MAIN---------------*/
  .food__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 1rem;
    overflow: hidden;
  }
  .food__main h1 {
    font-size: 5rem;
  }
  .food__main h2 {
    font-size: 2.5rem;
  }
  /*---------------SECTIONS---------------*/
  .food__description {
    padding: 1rem;
  }
  .food__recipes {
    padding: 1rem;
    background-color: #DCB8CB;
  }
  .food__recipes card {
    width: 24rem;
  }
  .food__recipes-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .modal__color {
    background-color: #828a95;
  }
  /*---------------CARROUSEL---------------*/
  .food__carousel {
    background-color: #CEEAF7;
  }
  .food__carousel p {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .food__carousel h3 {
    padding: 0.8rem;
  }
  .food__carousel h5 {
    font-size: 3rem;
  }
  /*--------------------EXERCISE--------------------*/
  /*---------------MAIN---------------*/
  .exercise__main {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .exercise__main h1 {
    font-size: 4.28571rem;
  }
  .exercise__main h2 {
    font-size: 2.6087rem;
  }
  /*---------------SECTIONS---------------*/
  .exercise__description {
    padding: 1rem;
  }
  .exercise__pilates {
    background-color: #D5C9DF;
  }
  .exercise__yoga {
    background-color: #CEEAF7;
  }
  h3 {
    font-size: 3.33333rem;
  }
  #exercise__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #exercise__flex div {
    padding: 0.5rem;
    width: 100%;
  }
  #exercise__flex iframe:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 30px #d44d4d;
            box-shadow: 0 0 30px #d44d4d;
    -webkit-transition: 1s;
    transition: 1s;
  }
  /*--------------------MEDICATION--------------------*/
  /*---------------MAIN---------------*/
  .medication__main {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .medication__main h1 {
    font-size: 6rem;
  }
  .medication__main h2 {
    font-size: 4rem;
  }
  /*---------------SECTIONS---------------*/
  .medication__treat {
    background-color: #CEEAF7;
  }
  .medication__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .medication__flex img {
    width: 30%;
    padding: 0.5rem;
  }
  .medication__selfcare {
    background-image: url(/img/selfcarebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .medication__selfcare h3 {
    color: #d6d3d3;
  }
  .medication__selfcare div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-weight: bold;
  }
  .medication__selfcare p {
    color: #d6d3d3;
    padding: 1rem;
  }
  /*--------------------ABOUT--------------------*/
  /*---------------MAIN---------------*/
  .about__main {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
  }
  .about__main h1 {
    font-size: 6rem;
  }
  .about__main h2 {
    font-size: 3rem;
  }
  /*---------------SECTION---------------*/
  .about__description {
    background-image: url(/img/about__banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about__description-div {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .about__description-div p {
    color: black;
    padding: 0.5rem;
  }
  /*---------------FORM---------------*/
  .form__color {
    background-color: #D5C9DF;
  }
  .form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__flex img {
    width: 90%;
  }
  /*---------------BUTTONS---------------*/
  .button_animation:hover {
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    font-weight: bold;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
/*# sourceMappingURL=style.css.map */