$font__size-mobile: 5rem;
$font__text-mobile: 1.1rem;
$color_rosa: #DCB8CB;
$color_lila: #D5C9DF;
$color_plateado: #828a95;
$color_gris: #ccd7e4;
$color_celeste: #CEEAF7;


*{
    padding: 0rem;
    margin: 0rem;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

#redirect_form{
    p{
        font-size: $font__text-mobile;
    }
}



/*--------------------FONT--------------------*/

h1, h3, div{
    font-family: 'Merriweather', serif;
}

h2, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}




/*--------------------FOOTER--------------------*/

footer{
    p{
        color: rgb(58, 57, 57);
    }
    background-color: $color_plateado;
}




/*--------------------INDEX--------------------*/

/*---------------MAIN---------------*/

main{
    background-color: $color_gris;
}

.index__main{
    h1{
        font-size: $font__size-mobile/1.4; 
    }
    h2{
        font-size: ($font__size-mobile/1.4)/2;
    }
}

/*---------------SECTIONS---------------*/

.phrase{
    background-color: $color_celeste;
}





/*--------------------FOOD&DIET--------------------*/

/*---------------MAIN---------------*/


.food__main{
    h1{
        font-size: $font__size-mobile/1.6; 
    }
    h2{
        font-size: $font__size-mobile/2.6;
    }
}

.food__recipes{
    background-color: $color_rosa;
}

.food__carousel{
    background-color: $color_celeste;
}


/*--------------------EXERCISE--------------------*/

/*---------------MAIN---------------*/

.exercise__main{
    h1{
        font-size: $font__size-mobile/1.4; 
    }
    h2{
        font-size: $font__size-mobile/2.6;
    }
}


/*---------------SECTIONS---------------*/


.exercise__pilates{
    background-color: $color_lila;
}

.exercise__yoga{
    background-color: $color_celeste;
}

.exercise__size{
    width: 24rem;
    height: 15rem;
}



/*--------------------MEDICATION--------------------*/

/*---------------MAIN---------------*/

.medication__main{
    h1{
        font-size: $font__size-mobile/1.2; 
     }
     h2{
         font-size: ($font__size-mobile/1.2)/2;
     }
}




/*--------------------ABOUT--------------------*/

/*---------------MAIN---------------*/

.about__main{
    h1{
       font-size: $font__size-mobile; 
    }
    h2{
        font-size: $font__size-mobile/2;
    }
}


/*---------------SECTION---------------*/

.about__description{
    background-image: url(/img/about__banner.jpg);
}

.about__description-div{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    p{
        color: black;
        padding: 0.5rem;
    }
}
