* {
  padding: 0rem;
  margin: 0rem;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#redirect_form p {
  font-size: 1.1rem;
}

/*--------------------FONT--------------------*/
h1, h3, div {
  font-family: 'Merriweather', serif;
}

h2, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/*------------------------------MOBILE------------------------------*/
/*--------------------FOOTER--------------------*/
footer {
  background-color: #828a95;
}

footer p {
  color: #3a3939;
}

/*--------------------INDEX--------------------*/
/*---------------MAIN---------------*/
main {
  background-color: #ccd7e4;
}

.index__main h1 {
  font-size: 3.57143rem;
}

.index__main h2 {
  font-size: 1.78571rem;
}

/*---------------SECTIONS---------------*/
.phrase {
  background-color: #CEEAF7;
}

.index__Videos {
  background-color: #D5C9DF;
}

/*--------------------FOOD&DIET--------------------*/
/*---------------MAIN---------------*/
.food__main h1 {
  font-size: 3.125rem;
}

.food__main h2 {
  font-size: 1.92308rem;
}

.food__recipes {
  background-color: #DCB8CB;
}

.modal__color {
  background-color: #828a95;
}

.food__carousel {
  background-color: #CEEAF7;
}

/*--------------------EXERCISE--------------------*/
/*---------------MAIN---------------*/
.exercise__main h1 {
  font-size: 3.57143rem;
}

.exercise__main h2 {
  font-size: 1.92308rem;
}

/*---------------SECTIONS---------------*/
.exercise__pilates {
  background-color: #D5C9DF;
}

.exercise__yoga {
  background-color: #CEEAF7;
}

.videos__size {
  width: 24rem;
  height: 15rem;
}

/*--------------------MEDICATION--------------------*/
/*---------------MAIN---------------*/
.medication__main h1 {
  font-size: 4.16667rem;
}

.medication__main h2 {
  font-size: 2.08333rem;
}

/*---------------SECTIONS---------------*/
.medication__treat {
  background-color: #CEEAF7;
}

.medication__selfcare {
  background-image: url(/img/selfcarebg.jpg);
}

.medication__selfcare h3 {
  color: #d6d3d3;
}

.medication__selfcare div {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  font-weight: bold;
}

.medication__selfcare p {
  color: #d6d3d3;
}

/*--------------------ABOUT--------------------*/
/*---------------MAIN---------------*/
.about__main h1 {
  font-size: 5rem;
}

.about__main h2 {
  font-size: 2.5rem;
}

/*---------------SECTION---------------*/
.about__description {
  background-image: url(/img/about__banner.jpg);
}

.about__description-div {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.about__description-div p {
  color: black;
  padding: 0.5rem;
}

/*---------------FORM---------------*/
.form__color {
  background-color: #D5C9DF;
}

/*------------------------------TABLET------------------------------*/
/*------------------------------DESKTOP------------------------------*/
/*# sourceMappingURL=style.css.map */