$font__size-mobile: 5rem;
$font__text-mobile: 1.1rem;
$font__size-tablet: 6rem;
$font__text-tablet: 1.7rem;
$color_rosa: #DCB8CB;
$color_lila: #D5C9DF;
$color_plateado: #828a95;
$color_gris: #ccd7e4;
$color_celeste: #CEEAF7;

*{
    padding: 0rem;
    margin: 0rem;
}

h1, h3, div{
    font-family: 'Merriweather', serif;
}

h2, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    margin: 0rem;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

#redirect_form{
    p{
        font-size: $font__text-mobile;
    }
}

#flex{
    display: flex;
}

#grid{
    display: grid;
}




/*------------------------------MOBILE------------------------------*/

/*--------------------FOOTER--------------------*/

footer{
    p{
        color: rgb(58, 57, 57);
    }
    background-color: $color_plateado;
}

/*--------------------INDEX--------------------*/

/*---------------MAIN---------------*/

main{
    background-color: $color_gris;
}

.index__main{
    h1{
        font-size: $font__size-mobile/1.4; 
    }
    h2{
        font-size: ($font__size-mobile/1.4)/2;
    }
}

/*---------------SECTIONS---------------*/

.phrase{
    background-color: $color_celeste;
}

.index__Videos{
    background-color: $color_lila;
}




/*--------------------FOOD&DIET--------------------*/

/*---------------MAIN---------------*/


.food__main{
    h1{
        font-size: $font__size-mobile/1.6; 
    }
    h2{
        font-size: $font__size-mobile/2.6;
    }
    display: flex;
    flex-direction: column;
}

/*---------------SECTIONS---------------*/

.food__recipes{
    background-color: $color_rosa;
    card{
        width: 24rem;
    }
}


.modal__color{
    background-color: $color_plateado;
}

/*---------------CARROUSEL---------------*/

.food__carousel{
    background-color: $color_celeste;
}




/*--------------------EXERCISE--------------------*/

/*---------------MAIN---------------*/

.exercise__main{
    h1{
        font-size: $font__size-mobile/1.4; 
    }
    h2{
        font-size: $font__size-mobile/2.6;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}


/*---------------SECTIONS---------------*/


.exercise__pilates{
    background-color: $color_lila;
}

.exercise__yoga{
    background-color: $color_celeste;
}

.videos__size{
    width: 24rem;
    height: 15rem;
}





/*--------------------MEDICATION--------------------*/

/*---------------MAIN---------------*/

.medication__main{
    h1{
        font-size: $font__size-mobile/1.2; 
    }
     h2{
         font-size: ($font__size-mobile/1.2)/2;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

/*---------------SECTIONS---------------*/


.medication__treat{
    background-color: $color_celeste;
}

.medication__flex{
    display: flex;
    flex-direction: column;
}

.medication__selfcare{
    background-image: url(/img/selfcarebg.jpg);
    h3{
        color: rgb(214, 211, 211);
    }
    div{
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        font-weight: bold;
    }
    p{
        color: rgb(214, 211, 211);
    }
}




/*--------------------ABOUT--------------------*/

/*---------------MAIN---------------*/

.about__main{
    h1{
       font-size: $font__size-mobile; 
    }
    h2{
        font-size: $font__size-mobile/2;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}


/*---------------SECTION---------------*/

.about__description{
    background-image: url(/img/about__banner.jpg);
}

.about__description-div{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    p{
        color: black;
        padding: 0.5rem;
    }
}

/*---------------FORM---------------*/

.form__color{
    background-color: $color_lila;
}

.form__flex{
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
    }
}


















/*------------------------------TABLET------------------------------*/


@media(min-width: 426px){

/*--------------------FONT--------------------*/
    div, p{
        font-size: $font__text-tablet;
    }


/*--------------------FOOTER--------------------*/
    footer{
        p{
            color: rgb(58, 57, 57);
            font-size: 1.2rem;
        }
        background-color: $color_plateado;
    }


/*--------------------INDEX--------------------*/

/*---------------MAIN---------------*/

    main{
        background-color: $color_gris;
    }

    .index__main{
        h1{
            font-size: $font__size-tablet;
        }
        h2{
            font-size: $font__size-tablet/1.9;
        }
        padding: 1rem;
    }

/*---------------SECTIONS---------------*/

    .phrase{
        background-color: $color_celeste;
    }

    .index__Videos{
        background-color: $color_lila;
    }






/*--------------------FOOD&DIET--------------------*/

/*---------------MAIN---------------*/

    .food__main{
        h1{
            font-size: $font__size-tablet; 
        }
        h2{
            font-size: $font__size-tablet/2;
        }
        padding: 1rem;
    }

/*---------------SECTIONS---------------*/

    .food__description{
        padding: 1rem;
    }

    .food__recipes-flex{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .food__recipes{
        div, p{
            font-size: $font__text-tablet/1.5;
        }
    }

    #modalFirstRecipe{
        div, p{
            font-size: $font__text-tablet/1.5;
        }
    }

    #modalSecondRecipe{
        div, p{
            font-size: $font__text-tablet/1.5;
        }
    }



/*---------------CAROUSEL---------------*/

    .food__carousel{
        background-color: $color_celeste;
        p{
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
        }
    }




/*--------------------EXERCISE--------------------*/

/*---------------MAIN---------------*/

    .exercise__main{
        h1{
            font-size: $font__size-tablet/1.5; 
        }
        h2{
            font-size: $font__size-tablet/1.5;
        }
        padding: 1rem;
    }


/*---------------SECTIONS---------------*/

    h3{
        font-size: $font__size-tablet/1.8 
    }

    .videos__size{
        width: 46rem;
        height: 30rem;
    }    


/*--------------------MEDICATION--------------------*/

/*---------------MAIN---------------*/

    .medication__main{
        h1{
            font-size: $font__size-tablet; 
        }
        h2{
            font-size: $font__size-tablet/1.5;
        }
        padding: 1rem;
    }

/*---------------SECTIONS---------------*/


    .medication__treat{
        background-color: $color_celeste;
    }

    .medication__flex{
        display: flex;
        flex-direction: row;
        img{
            width: 50%;
            padding: 0.3rem;
        }
    }

    .medication__selfcare{
        background-image: url(/img/selfcarebg.jpg);
        h3{
            color: rgb(214, 211, 211);
        }
        div{
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            font-weight: bold;
        }
        p{
            color: rgb(214, 211, 211);
        }
    }





/*--------------------ABOUT--------------------*/

/*---------------MAIN---------------*/

    .about__main{
        h1{
        font-size: $font__size-tablet; 
        }
        h2{
            font-size: $font__size-tablet/2;
        }
        padding: 1rem;
    }


/*---------------SECTION---------------*/

    .about__description{
        background-image: url(/img/about__banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

/*---------------FORM---------------*/

    .form__flex{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
    }



}



























/*------------------------------DESKTOP------------------------------*/

@media(min-width: 1024px){



/*---------------FOOTER---------------*/

    .footer__color-tw:hover{
        box-shadow: 0 0 30px rgb(48, 229, 253);
        transition: ease-in-out;
    }

    .footer__color-i:hover{
        box-shadow: 0 0 30px rgb(253, 28, 242);
        transition: ease-in-out;
    }

    .footer__color-fb:hover{
        box-shadow: 0 0 30px rgb(22, 9, 201);
        transition: ease-in-out;
    }



/*--------------------INDEX--------------------*/

/*---------------MAIN---------------*/

    .navbar-mobile{
        display: none;
    }

    .navbar-desktop{
        text-align: right;
        list-style: none;
        background-color: rgb(255, 255, 255);
        padding-top: 21.2rem;
        font-size: 1.5rem;
        background-image: url(/img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-desktop__options{ 
        li{
            display: inline-block;
            padding: 2rem;
            text-decoration: none;
        }
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            padding: 1rem;
        }
    }







/*--------------------EXERCISE--------------------*/

/*---------------MAIN---------------*/

    .exercise__main{
        h1{
            font-size: $font__size-tablet/1.5; 
        }
        h2{
            font-size: $font__size-tablet/1.8;
        }
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


/*---------------SECTIONS---------------*/

    .exercise__description{
        padding: 1rem;
    }

    h3{
        font-size: $font__size-tablet/1.8 
    }

    .pilates__flex-titulos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .pilates__flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        iframe{
            width: 200%;
        }
    }
    .videos__size{
        width: 46rem;
        height: 30rem;
    }    




/*--------------------MEDICATION--------------------*/

/*---------------MAIN---------------*/

    .medication__main{
        h1{
            font-size: $font__size-tablet; 
        }
        h2{
            font-size: $font__size-tablet/1.5;
        }
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

/*---------------SECTIONS---------------*/

    .medication__flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
            width: 30%;
            padding: 0.5rem;
        }
    }


    .medication__selfcare{
        background-image: url(/img/selfcarebg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        h3{
            color: rgb(214, 211, 211);
        }
        div{
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            font-weight: bold;
        }
        p{
            color: rgb(214, 211, 211);
        }
    }





/*--------------------ABOUT--------------------*/

/*---------------MAIN---------------*/

    .about__main{
        h1{
        font-size: $font__size-tablet; 
        }
        h2{
            font-size: $font__size-tablet/2;
        }
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }


/*---------------SECTION---------------*/

    .about__description{
        background-image: url(/img/about__banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

/*---------------FORM---------------*/

    .form__flex{
        img{
            display: none;
        }
    }








/*---------------BUTTONS---------------*/

.button_animation:hover{
    box-shadow: 0 0 10px black;
    font-weight: bold;
    transition: 0.2s;
}




}